#styleSwitcher {
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.2s ease; /* Add transform transition */

}

#styleSwitcher.transitioning {
    transform: scale(1.1); /* Slightly enlarge the button */
    background-color: #555; /* Darker gray during transition */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Add a shadow */
}

#styleSwitcher.style {
    background-color: #4CAF50; /* Green for style1 */
    color: white;
}

#styleSwitcher.stylePBC {
    background-color: #616161; /* Dark gray for styleBW */
    color: white;
}

#styleSwitcher.styleV {
    background-color: #9933ff; /* Purple - a color already in the palette */
    color: white;
}

#styleSwitcher.styleBW {
    background-color: #616161; 
    color: white;
}

#styleSwitcher.style:hover {
    background-color: #3e8e41; /* Darker green */
}

#styleSwitcher.stylePBC:hover {
    background-color: #424242; /* Even darker gray */
}

#styleSwitcher.styleV:hover {
    background-color: #800080; /* Dark purple - a darker shade of the base color */
}

#styleSwitcher.styleBW:hover {
    background-color: #424242; 
}
