* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff; /* White background */
    color: #333; /* Dark gray text */
    font-family: sans-serif;
}

header {
    background-color: #fff; /* White */
    color: #333;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 2em;
}

header p {
    color: #555; /* Slightly darker gray */
    font-size: 1.2em;
}

#styleSwitcher {
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#styleSwitcher.styleBW {
    background-color: #616161; 
    color: white;
}

#styleSwitcher.styleBW:hover {
    background-color: #424242; 
}

main {
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

main h1 {
    color: #333;
    font-size: 2.5em;
}

main strong {
    background-color: #eee; 
    padding: 5px 4px;
    border-radius: 10px;
    animation: color-cycle 5s linear infinite;
}

@keyframes color-cycle {
    0%  { background-color: #fff; color: #000; } 
    33% { background-color: #ddd; color: #000; } 
    66% { background-color: #bbb; color: #fff; } 
    100% { background-color: #333; color: #fff; } 
}

p {
    color: #555;
    line-height: 1.6;
}

.btn-container {
    margin-top: 20px;
    display: flex;
    justify-content: center; 
}

.btn-container button {
    background-color: #333; 
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    margin: 4px 2px;
    transition: background-color 0.3s ease;
}

.btn-container button:hover {
    background-color: #555; 
}

footer p{
    background-color: #333; 
    color: white;
    padding: 10px;
    text-align: center;
}

.left {
    flex: 1;
    margin-right: 20px;
}

.right {
    flex: 1;
}

.right img {
    max-width: 100%;
    height: auto;
}